<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" backupStaticAttributes="false"
	bootstrap="vendor/autoload.php" colors="true"
	convertErrorsToExceptions="true" convertNoticesToExceptions="true"
	convertWarningsToExceptions="true" processIsolation="false"
	stopOnFailure="true" syntaxCheck="false">
	<php>
        <var name="DB_DSN" value="mysql:dbname=sqltree;host=localhost" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASSWD" value="1234" />
        <var name="DB_DBNAME" value="sqltree" />
    </php>
	<testsuites>
		<testsuite name="SqlTree Test Suite">
			  <file>tests/SqlTreeTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>